.centred {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100%;
    outline: none;
    justify-content: space-around;
}
