.paper{
    position: relative;
    width: 100%;
    min-height: 95%;
    outline: none;
    background: wheat;
}

.paper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: whitesmoke;
}
.paper-actions{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
